<% if ad.approved_image.representable? %>
  <div class="ad ad-<%= ad.variant %>" data-controller="ad" data-ad-id-value="<%= ad.id %>" data-ad-url-value="<%= ad.approved_url %>">
    <div class="ad-text-container">
        <div class="ad-text hidden" data-ad-target="text">
            Are you sure you want to go to
            <br>
            <%= ad.approved_url %> ?
            <br>
            <span data-ad-target="yes">Yes</span> | <span data-ad-target="no">No<span>
        </div>
    </div>
    <%= image_tag polymorphic_url(ad.approved_image.variant(ad.variant.to_sym)), {'data-ad-target': "image"} %>
  </div>
<% end %>