<%= turbo_frame_tag "message_form_frame_#{locals[:message].id ? locals[:message].id : 'new'}" do %>
  <%= form_with(model: locals[:message], id: "message_form", class: "message-form", data: {controller: locals[:message].id ? '' : 'chat-input', action: locals[:message].id ? '' : 'chat-input#submitForm:prevent'}) do |form| %>
    <% if locals[:message].errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(locals[:message].errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% locals[:message].errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="color: red">
      <h3 class="alert" data-chat-input-target="alert"></h3>
    </div>

    <div class="ooc-input" id="form_message_ooc">
      <%= form.label :ooc, 'OOC' %>
      <%= form.check_box :ooc, data: {'chat-input-target': 'ooc'} %>
    </div>

    <div id="form_message_content" data-controller="toasty-editor" class="message-input">
      <div data-chat-input-target="container" class="editor-container" data-toasty-editor-target="editor"></div>
      <%= form.hidden_field :content, {'data-chat-input-target': 'textarea', 'data-toasty-editor-target': 'textarea'} %>
    </div>

    <div class="form-submit" id="form_message_submit">
      <%= form.submit value: 'Send' %>
    </div>

    <br />

    <div>
      <%= form.hidden_field :chat_id, value: locals[:chat_id] %>
    </div>
  <% end %>
<% end %>
