<%= turbo_frame_tag "message_form_frame_#{locals[:message].id ? locals[:message].id : 'new'}" do %>
  <%= form_with(model: locals[:message], id: "message_form", data: {controller: locals[:message].id ? '' : 'chat-input', action: locals[:message].id ? '' : 'chat-input#submitForm:prevent'}) do |form| %>
    <% if locals[:message].errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(locals[:message].errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% locals[:message].errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="color: red">
      <h3 class="alert" data-chat-input-target="alert"></h3>
    </div>

    <div id="form_message_ooc">
      <%= form.label :ooc, 'OOC' %>
      <%= form.check_box :ooc, data: {'chat-input-target': 'ooc'} %>
    </div>

    <div id="form_message_content" data-chat-input-target="container">
      <%= form.text_area :content, id: "chat_#{locals[:chat_id]}_message_#{locals[:message].id ? locals[:message].id : "new"}_editor" , data: {controller: "easy-mde", 'easy-mde-save-value': true, 'easy-mde-focus-value': true, 'chat-input-target': 'textarea'} %>
    </div>

    <div id="form_message_submit">
      <%= form.submit value: 'Send' %>
    </div>

    <br />

    <div>
      <%= form.hidden_field :chat_id, value: locals[:chat_id] %>
    </div>
  <% end %>
<% end %>
