<%= turbo_frame_tag "message_form_frame_#{locals[:message].id ? locals[:message].id : 'new'}" do %>
  <%= form_with(model: locals[:message], id: "message_form", class: "message-form", data: {controller: locals[:message].id ? '' : 'chat-input', action: locals[:message].id ? '' : 'chat-input#submitForm:prevent'}) do |form| %>
    <% if locals[:message].errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(locals[:message].errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% locals[:message].errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="color: red">
      <h3 class="alert" data-chat-input-target="alert"></h3>
    </div>

    <div class="input-group">
      <div class="ooc-input" id="form_message_ooc">
        <%= form.label :visibility %>
        <%= form.select :visibility, Message.visibilities.map {|k, _v| [k.humanize.capitalize, k]} %>
      </div>

      <div>
        <%= form.color_field :color %>
      </div>
    </div>

    <% if current_user.admin? %>
        <div>
          <div class="icon-selector" data-controller="icon-selector">
            <% chat_user = ChatUser.find_by(user: current_user, chat_id: locals[:chat_id]) %>
            <% if chat_user %>
              <div class="sidebar-user-icon<%= " selected" if chat_user %>" data-icon="<%= chat_user.icon %>" data-icon-selector-target="icons">
                <span data-icon="<%= name_for_icon chat_user.icon %>"><%= icon_for chat_user.icon %></span>
              </div>
            <% end %>
            <div class="sidebar-user-icon<%= " selected" if chat_user.nil? %>" data-icon="ðŸ¦" data-icon-selector-target="icons">
              <span data-icon="<%= name_for_icon "ðŸ¦" %>"><%= icon_for "ðŸ¦" %></span>
            </div>
            <% current_user.entitlements.active.where(flag: 'modchat-emoji').each do |icon| %>
              <div class="sidebar-user-icon" data-icon="<%= icon.data %>" data-icon-selector-target="icons">
                <span data-icon="<%= name_for_icon icon.data %>"><%= icon_for icon.data %></span>
              </div>
            <% end %>
            <%= form.hidden_field :icon, {'data-icon-selector-target': "input", value: nil} %>
          </div>
        </div>
    <% end %>

    <div id="form_message_content" data-controller="toasty-editor" class="message-input">
      <div data-chat-input-target="container" class="editor-container" data-toasty-editor-target="editor"></div>
      <%= form.hidden_field :content, {'data-chat-input-target': 'textarea', 'data-toasty-editor-target': 'textarea'} %>
    </div>

    <div class="form-submit" id="form_message_submit">
      <%= form.submit value: 'Send' %>
    </div>

    <br />

    <div>
      <%= form.hidden_field :chat_id, value: locals[:chat_id] %>
    </div>
  <% end %>
<% end %>
