<%= turbo_frame_tag locals[:message] do %>
  <% if !locals[:message].ooc %>
    <div class="message">
  <% else %>
    <div class="message ooc">
  <% end %>
      <span class="user_icon"><%= locals[:message].icon %></span>
      <span class="type_notif <%= locals[:message].type %><%= locals[:message].ooc ? " ooc" : nil %>">
        <% if locals[:message].type == 'system' %>
          SYS
        <% end %>
        <% if locals[:message].ooc %>
          OOC
        <% end %>
      </span>
      <%= locals[:message].markdown %>
      <span class="message_created_at">
        <!-- Display the date and time of the message -->
        Sent <%= locals[:message].created_at.strftime("%Y-%m-%d %k:%M:%S") %>
      </span>
      <% if can? :edit, locals[:message] %>
          <%= link_to "Edit", edit_message_path(locals[:message]), class: "message_edit_link" %>
      <% end %>
      <% if locals[:message].updated_at > locals[:message].created_at %>
          <span class="message_edited_at">(edited <%= time_ago_in_words(locals[:message].updated_at) %> ago)</span>
      <% end %>
      <hr class="message_break"/>
  </div>
<% end %>
