<% if defined?(locals) && locals[:reporting] %>
  <% locals[:message] = locals[:reportable] %>
<% end %>
<% message = defined?(locals) ? locals[:message] : message %>
<%= turbo_frame_tag message do %>
    <div class="message<%= " sys" if message.type == 'system' %><%= " visibility-#{message.visibility}" %><%= " you" if message.user == current_user %>" data-controller="twemoji">
      <span class="user-icon"><%= icon_for message.icon %></span>
      <span class="type-notif <%= message.type %><%=  " visibility-#{message.visibility}" %>">
        <% if message.type == 'system' %>
          SYS
        <% end %>
        <%= message.visibility.upcase %>
      </span>
      <div style="<%= "color: #{message.color};" if message.color != "#000000" %>" class="message-content markdown prose max-w-none">
        <%= message.markdown %>
      </div>
      <hr class="message-break"/>
      <div class="message-footer">
        <span class="message-created-at">
          <!-- Display the date and time of the message -->
          Sent <%= message.created_at.strftime("%Y-%m-%d %k:%M:%S") %>
          <% if message.updated_at > message.created_at %>
            <% if (can? :edit, message) %>
              <%= link_to history_message_path(message), data: {turbo: false}, class: "message-history-link" do %>
                <span class="message-edited-at">(edited)</span>
              <% end %>
            <% else %>
              <span class="message-edited-at">(edited)</span>
            <% end %>
          <% end %>
        </span>
        <div class="message-actions">
          <% if defined?(locals) && !locals[:reporting] %>
            <% is_reportable = message.type != 'system' && message.user != current_user %>
            <% if is_reportable %>
                <%= link_to new_report_path(reportable_id: message.id, reportable_type: message.class.name), data: { turbo: false }, class: "report-link" do %>
                  🚩
                <% end %>
            <% end %>
          <% end %>
          <% if (can? :edit, message) && defined?(locals) %>
              <%= link_to edit_message_path(message), class: "message-edit-link" do %>
                ✏️
              <% end %>
          <% end %>
        </div>
      </div>
      <% if message.user && current_user.admin? %>
        <div>
          <span class="message-edited-at"><%= link_to message.user.username, edit_admin_user_path(message.user) %></span>
        </div>
      <% end %>
  </div>
<% end %>
