<% content_for :page_title do %>
    Announcement (<%= @announcement.title ? @announcement.title : @announcement.id %>)
<% end %>

<%= render @announcement %>

<div class="card primary">
  <div class="input-group">
    <% if can? :edit, @announcement %>
      <%= link_to "Edit", edit_announcement_path(@announcement), class: "button" %>
    <% end %>
    <% if can? :history, @announcement %>
      <%= link_to "History", history_announcement_path(@announcement), class: "button" %>
    <% end %>
    <% if can? :destroy, @announcement %>
      <%= button_to "Delete", @announcement, method: :delete, class: "button", data: {turbo_confirm: "Are you sure you want to delete this Announcement?"} %>
    <% end %>
    <%= link_to "Back", announcements_path, class: "button" %>
  </div>
</div>
