<% content_for "card_actions_right_#{prompt.id}", flush: true do %>
    <ul class="flex flex-col md:flex-row gap-2">
        <ul class="flex flex-col md:flex-row">
            <% if can?(:edit, prompt) %>
                <% if prompt.bumpable? %>
                    <li><%= button_to "Bump", prompt_bump_path(prompt), method: :put, class: "button", data: {turbo_confirm: 'Are you sure you want to bump this prompt?'} %></li>
                <% else %>
                    <li>
                        <% bumpable_in = prompt.bumped_at + Prompt::BUMP_WAIT_TIME %>
                        <% difference = hms_between(bumpable_in) %>
                        <button class="button" disabled>
                            <span class="countdown font-mono text-xs" data-controller="countdown" data-countdown-diff-value="<%= difference %>">
                                <span data-countdown-target="hours" style="--value:<%= difference.first %>;" aria-live="polite" aria-label="<%= difference.first %>"><%= difference.first %></span>
                                h:
                                <span data-countdown-target="minutes" style="--value:<%= difference.second %>;" aria-live="polite" aria-label="<%= difference.second %>"><%= difference.second %></span>
                                m:
                                <span data-countdown-target="seconds" style="--value:<%= difference.third %>;" aria-live="polite" aria-label="<%= difference.third %>"><%= difference.third %></span>s
                            </span>
                        </button>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <ul class="flex flex-col md:flex-row gap-1">
            <% if can?(:answer, prompt) %>
                <% if prompt.default_slots > 2 %>
                    <li class="grow flex text-center"><%= link_to "Chats", prompt, class: "button grow" %><li>
                    <li><%= button_to "New Chat", prompt_answer_path(prompt), method: :post, class: "button text-nowrap", data: {turbo_confirm: 'Are you sure you want to make a new chat?'}  %></li>
                <% else %>
                    <li><%= button_to "Answer", prompt_answer_path(prompt), method: :post, class: "button", data: {turbo_confirm: 'Are you sure you want to answer this prompt?'}  %></li>
                <% end %>
            <% end %>
        </ul>
    </ul>
<% end %>
