<%= form_with(model: prompt, id: 'prompt_form') do |form| %>
  <% if local_assigns[:with_tags] %>
    <br />
    <%= render partial: 'prompts/form_tags/characters', locals: { prompt:, character_options: character_options } %>
    <%= render partial: 'prompts/form_tags/tag_fields', locals: { prompt: prompt} %>
  <% end %>
  <%= render partial: 'prompts/prompt_fields', locals: { prompt: prompt, form: form, pseudonym_options: @pseudonym_options } %>
  
  <% if prompt.id.nil? %>
    <div>
      <%= form.button type: :submit, class: "btn btn-primary hover:btn-secondary" do %>
        Submit<span class="inline-block w-4 h-4 pt-px items-center"><%= render partial: 'shared/ticket' %></span>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= form.submit 'Submit' %>
    </div>
  <% end %>
<% end %>

