<div id="<%= dom_id prompt %>" class="card primary prompt mini">
  <div class="prompt_info">
    <%= render partial: 'directory/metainfo', locals: { model: prompt} %>
    <div class="tags">
      <%= render partial: 'prompts/mini_tags', locals: { prompt: prompt} %>
    </div>
    <span class="slots">
      <strong><u><%= prompt.default_slots %></u> SLOTS</strong>
    </span>
    <span class="managed">
      <strong>
        <% unless prompt.managed? %>UN-<% end %>MANAGED
      </strong>
    </span>
  </div>

  <% if prompt.ooc.present? %>
    <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
      <div class="ooc truncate truncate--line-clamped" data-read-more-target="content">
        <div data-read-more-target="inner">
          <%= prompt.mark_ooc %>
        </div>
      </div>

      <button data-action="read-more#toggle" data-read-more-target="button"  class="hide fullwidth">More...</button>
    </div>
  <% end %>

  <% if prompt.ooc.present? && prompt.starter.present? %>
    <hr />
  <% end %>

  <% if prompt.starter.present? %>
    <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
      <div class="starter truncate truncate--line-clamped" data-read-more-target="content">
        <div data-read-more-target="inner">
          <%= prompt.mark_starter %>
        </div>
      </div>

      <button data-action="read-more#toggle" data-read-more-target="button"  class="hide fullwidth">More...</button>
    </div>
  <% end %>
  
  <hr />

  <span class="prompt_date_time">
    <!-- Display the date and time of the prompt  -->
    <%= link_to (prompt.bumped_at || prompt.created_at).strftime("%Y-%m-%d %k:%M:%S"), prompt %>
  </span>

  <% if can? :edit, prompt %>
    <%= link_to "Edit", edit_prompt_path(prompt), class: "prompt_edit_link" %>
  <% end %>

  <ul class="prompt_actions">
    <li><%= link_to "Report", new_report_path(reportable_id: prompt.id, reportable_type: prompt.class.name), class: "report_link" %></li>
    <% if can?(:edit, prompt) && prompt.bumpable? %>
      <li><%= button_to "Bump", prompt_bump_path(prompt), method: :put %></li>
    <% end %>
    <% if can?(:answer, prompt) %>
      <li><%= button_to "Answer", prompt_answer_path(prompt), method: :post %></li>
    <% end %>
  </ul>
</div>
