<% content_for :left_sidebar do %>
  <div class="card primary">
    <div class="pagination-container input-group">
      <% if !params[:before].nil? %>
        <%= link_to "First", prompts_path(params.permit(:before, :ismine, :managed, :tags).except(:before)), class: "button" %>
      <% else %>
        <a class="button" disabled>First</a>
      <% end %>
      <% if @cursor %>
        <%= link_to "Next", prompts_path(params.permit(:before, :ismine, :managed, :tags).merge({before: @cursor})), class: "button" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="flex-container" id="prompts_container">
  <div class="card primary">
    <%= link_to "New Prompt", new_prompt_path, class: "button" %>
    <div class="pagination-container input-group">
      <% if !params[:before].nil? %>
        <%= link_to "First", prompts_path(params.permit(:before, :ismine, :managed, :tags).except(:before)), class: "button" %>
      <% else %>
        <a class="button" disabled>First</a>
      <% end %>
      <% if @cursor %>
        <%= link_to "Next", prompts_path(params.permit(:before, :ismine, :managed, :tags).merge({before: @cursor})), class: "button" %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'prompts/mini', collection: @prompts, as: :prompt %>
  <div class="card primary thin md:hidden">
    <div class="pagination-container input-group">
      <% if !params[:before].nil? %>
        <%= link_to "First", prompts_path(params.permit(:before, :ismine, :managed, :tags).except(:before)), class: "button" %>
      <% else %>
        <a class="button" disabled>First</a>
      <% end %>
      <% if @cursor %>
        <%= link_to "Next", prompts_path(params.permit(:before, :ismine, :managed, :tags).merge({before: @cursor})), class: "button" %>
      <% end %>
    </div>
  </div>
</div>