<% if prompt.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

    <ul>
      <% prompt.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form.label :ooc, style: "display: block" %>
  <%= form.marksmith :ooc, enable_file_uploads: false  %>
</div>

<div>
  <div class="input-group">
    <%= form.label :starter, style: "display: block" %>
    <%= form.text_field :color, {'data-controller': 'color-picker'} %>
  </div>
  <%= form.marksmith :starter, enable_file_uploads: false  %>
</div>

<div>
  <%= form.label :pseudonym, style: "display: block" %>
  <%= select_tag('prompt[pseudonym_id]', options_for_select(pseudonym_options, prompt.pseudonym_id)) %>
</div>

<div>
  <%= form.label :status, style: "display: block" %>
  <div>
    <%= form.radio_button :status, 'draft' %><%= label_tag(:prompt_status_draft, 'draft') %>
    <%= form.radio_button :status, 'posted' %><%= label_tag(:prompt_status_posted, 'posted') %>
  </div>
</div>

<div>
  <%= form.label :default_slots, style: "display: block" %>
  <%= form.number_field :default_slots, min: 2, step: 1 %>
</div>

<div>
  <%= form.label :managed, style: "display: inline" %>
  <%= form.check_box :managed, default: false %>
</div>