<% if defined?(locals) && locals[:reporting] %>
  <% prompt = locals[:reportable] %>
<% end %>

<% content_for "card_classes_#{prompt.id}" do %>
  <%= prompt.default_slots > 2 ? ' group' : ' standard' %>
<% end %>
<% content_for "card_info_#{prompt.id}" do %>
  <span class="slots">
    <strong><u><%= prompt.default_slots %></u> SLOTS</strong>
  </span>
  <span class="managed">
    <strong>
      <% unless prompt.managed? %>UN-<% end %>MANAGED
    </strong>
  </span>
  <br/>
<% end %>
<% content_for "card_content_#{prompt.id}" do %>
  <% if prompt.ooc.present? %>
    <div id="<%= dom_id prompt %>_ooc" class="show-more" data-controller="show-more" data-read-smore-words="70">
      <%= prompt.mark_ooc %>
    </div>
  <% end %>

  <% if prompt.ooc.present? && prompt.starter.present? %>
    <hr />
  <% end %>

  <% if prompt.starter.present? %>
    <div id="<%= dom_id prompt %>_starter" class="show-more" data-controller="show-more" data-read-smore-words="70">
      <%= prompt.mark_starter %>
    </div>
  <% end %>
<% end %>
<% content_for "timestamp_#{prompt.id}" do %>
  <%= link_to (prompt.bumped_at || prompt.created_at).strftime("%Y-%m-%d %k:%M:%S"), prompt %>
<% end %>

<%= render partial: 'prompts/actions', locals: { prompt: } %>

<%= render partial: 'directory/card', locals: { 
  model: prompt, variant: (defined?(variant) && variant) || 'full' 
} %>
