<div id="<%= dom_id prompt %>" class="card primary prompt">
  <div class="prompt_info">
    <% if can? :view_users, prompt %>
      <%= link_to "PROFILE", edit_admin_user_path(prompt.user) %> |
    <% end %>
    <span class="type_notif <% prompt.status %>">
      <% if prompt.draft? %>
        DRAFT
      <% end %>
      <% if prompt.locked? %>
        LOCKED
      <% end %>
    </span>
    <div class="tags">
      <%= render partial: 'prompts/tags', locals: { prompt: prompt} %>
    </div>
  </div>

  <% if prompt.ooc.present? %>
    <div class="ooc">
      <%= prompt.mark_ooc %>
    </div>
  <% end %>

  <% if prompt.ooc.present? && prompt.starter.present? %>
    <hr />
  <% end %>

  <% if prompt.starter.present? %>
    <div>
      <%= prompt.mark_starter %>
    </div>
  <% end %>

  <% if can? :edit, prompt %>
    <%= link_to "Edit", edit_prompt_path(prompt), class: "prompt_edit_link" %>
    <% if prompt.bumpable? %>
      <%= button_to "Bump", prompt_bump_path(prompt), method: :put %>
    <% end %>
  <% end %>
  <% if can?(:answer, prompt) && prompt.user != current_user %>
    <%= button_to "Answer", prompt_answer_path(prompt), method: :post %>
  <% end %>
</div>
