<div id="prompts_container">
  <div class="card primary">
    <div class="pagination">
      <%= link_to "New Prompt", new_prompt_path, class: "button" %>
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
      Your search has <strong><%= @pagy.count %></strong> total prompts!
    </div>
  </div>
  <%= render partial: 'prompts/mini', collection: @prompts, as: :prompt %>
  <div class="card primary">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>