<div class="card secondary">
  <div id="<%= dom_id theme %>">
    <% if current_user.applied_themes.exclude?(theme) %>
      <%= button_to "Apply", apply_theme_path(theme), class: "button" %>
    <% end %>
    <% if current_user.applied_themes.include?(theme) %>
      <%= button_to "Unapply", unapply_theme_path(theme), class: "button" %>
    <% end %>
    <p>
      <strong>Title:</strong>
      <%= theme.title %>
    </p>
    
    <% if theme.system %>
      <p>
        <strong>System:</strong>
        <%= theme.system %>
      </p>
    <% end %>
    
    <% if can? :edit, theme %>
      <%= link_to "Edit", edit_theme_path(theme), class: "button" %>
    <% end %>
  </div>
</div>
