<% content_for :page_title do %>
    Themes
<% end %>

<h1>Themes</h1>

<div class="card primary">
  <% if can? :create, Theme %>
    <%= link_to "New theme", new_theme_path, class: "button" %><br/>
  <% end %>
  <div class="max-lg:hidden">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
  <div id="themes">
    <% @themes.each do |theme| %>
      <%= render theme %>
    <% end %>
  </div>
  <div class="max-lg:hidden">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>

<% content_for :secondary_navbar do %>
  <div class="px-4 pb-2 lg:hidden sticky bottom-0">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
<% end %>

