<% content_for :left_sidebar do %>
  <div class="card primary">
    Site Use pages
    <ul>
      <% @links.each do |link| %>
        <li>
          <%= link_to use_page_path link do %>
            <strong><%= link %></strong>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="page_<%= params[:page] %>" class="card primary">
  <br />
  <p>
    <%= @markdown %>
    <ol>
      <% @entries.each do |entry| %>
        <li><%= entry %></li>
      <% end %>
    </ol>
  </p>
</div>
