<%= turbo_frame_tag "message_form_frame" do %>
  <%= form_with(model: [:admin, locals[:message]], id: "message_form") do |form| %>
    <% if locals[:message].errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(locals[:message].errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
          <% locals[:message].errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="new_message_content">
      <h2>SYS Message</h2>
      <%= form.text_area :content, id: "chat_#{locals[:chat_id]}_message_#{locals[:message].id ? locals[:message].id : "new"}_admin_editor" , data: {controller: "easy-mde", 'easy-mde-save-value': true, 'easy-mde-focus-value': true} %>
    </div>
    <div>
      <%= form.hidden_field :chat_id, value: locals[:chat_id] %>
    </div>

    <div id="new_message_submit">
      <%= form.submit value: 'Send' %>
    </div>
  <% end %>
<% end %>
