<% content_for :page_title do %>
    Admin - Message Search
<% end %>

<% content_for :info_top do %>
    <div class="chat-info-top card secondary" id="chat_info_top">
        <%= render partial: 'search_form' %>
        <%== render partial: 'pagy/nav', locals: { pagy: @pagy } %>
    </div>
<% end %>

<div class="flex-container" id="admin_search_container">
    <div class="card secondary">
        <div class="flex-container" id="messages_container">
            <% if @messages.count > 0 %>
                <% for message in @messages %>
                    <div class="card secondary">
                        <%= render 'messages/message', locals: { message: message, current_user_id: current_user.id } %>
                        <% if message.chat %>
                            <%= link_to "View Chat", chat_path(message.chat.uuid), class: "button" %>
                        <% end %>
                    </div>
                <% end %>
            <% else %>
                <div>Your query has no results...</div>
            <% end %>
        </div>
    </div>
</div>

<% content_for :info_bottom do %>
    <div class="card secondary">
        <%== render partial: 'pagy/nav', locals: { pagy: @pagy } %>
    </div>
<% end %>

