<% class_name = model.class.name.downcase %>
<div id="<%= dom_id model %>" class="card primary <%= class_name %> mini<%= yield :card_classes %>">
  <div class="<%= class_name %>-info">
    <%= render partial: 'directory/metainfo', locals: { model: } %>
    <% if defined? model.name %>
      <div>
        <h2><%= model.name %></h2>
      </div>
    <% end %>
    <% if defined? model.tags %>
        <div class="tags">
            <% if defined?(variant) && variant == 'mini' %>
              <%= render partial: 'directory/mini_tags', locals: { model: } %>
            <% else %>
              <%= render partial: 'directory/tags', locals: { model: } %>
            <% end %>
        </div>
    <% end %>

    <%= yield "card_info_#{model.id}" %>
  </div>

  <%= yield "card_content_#{model.id}" %>
 
  <% if defined? model.description %>
    <div class="description markdown prose max-w-none">
      <%== marksmithed model.description %>
    </div>
  <% end %>
  
  <hr />

  <div class="card-footer flex flex-wrap md:flex-nowrap">
    <% if defined? model.created_at %>
      <span class="<%= class_name %>-date-time timestamp">
        <!-- Display the date and time of the model  -->
        <% if content_for?("timestamp_#{model.id}") %>
          <%= yield "timestamp_#{model.id}" %>
        <% else %>
          <%= link_to (model.created_at).strftime("%Y-%m-%d %k:%M:%S"), model %>
        <% end %>
      </span>
    <% end %>
    <div class="actions">
      <ul class="actions-left">
        <% if can?(:hide, model) %>
          <li><%= button_to "Block", hide_tag_path(model), method: :post, class: "button", data: {turbo_confirm: "Are you sure you want to add this #{class_name.capitalize} to your filters?"} %></li>
        <% end %>

        <% if defined?(model.user) && model.user != current_user %>
          <li><%= link_to "ðŸš©", new_report_path(reportable_id: model.id, reportable_type: model.class.name), class: "report-link" %></li>
        <% end %>

        <% if can? :edit, model %>
          <li><%= link_to "âœï¸", "#{url_for(model)}/edit", class: "#{class_name}-edit-link" %></li>
        <% end %>

        <%= yield "card_actions_left_#{model.id}" %>
      </ul>
      <ul class="actions-right">
        <% if can? :destroy, model %>
          <li><%= button_to "Destroy", model, method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"} %></li>
        <% end %>
        
        <%= yield "card_actions_right_#{model.id}" %>
      </ul>
    </div>
  </div>
</div>