<% content_for :left_sidebar do %>
    <div class="directory-left-sidebar">
        <div class="card primary">
            <ul class='directory-links'>
                <li><%= link_to 'Prompts', prompts_path, class: "button" %></li>
                <li><%= link_to 'Characters', characters_path, class: "button" %></li>
                <li><%= link_to 'Filters', filters_path, class: "button" %></li>
                <li><%= link_to 'Pseudonyms', pseudonyms_path, class: "button" %></li>
                <li><%= link_to lucky_dip_prompts_path, class: "button primary" do %>
                        <i class="icon-shuffle"></i> Lucky Dip
                    <% end %>
                </li>
            </ul>
            <hr />
            <%= yield %>
            <% if defined?(with_search) && with_search %>
                <%= render partial: 'directory/search_actions', locals: {
                    adv_search_path: defined?(adv_search_path) ? adv_search_path : nil,
                    search_keys:
                } %>
            <% end %>
        </div>
    </div>
<% end %>