<div class="directory-actions">
    <% if defined?(adv_search_path) && !adv_search_path.nil? %>
        <%= link_to 'Advanced Search', adv_search_path, class: "button" %>
    <% end %>
    <% if search_keys.include?(:before) %>
        <%= link_to 'Update Timestamp', params.permit(*search_keys).merge(before: 1.second.from_now), class: "button" %>
    <% end %>
    <% if search_keys.include?(:managed) %>
        <%= link_to 'Toggle Managed', params.permit(*search_keys).merge(
                managed: params[:managed] == 'false' ? 'true' : 'false'
            ), class: "button"
        %>
    <% end %>
    <% if search_keys.include?(:ismine) %>
        <% ismine_text = (params[:ismine] == 'true') ? 'Hide Mine' : 'Show Mine' %> 
        <%= link_to ismine_text, params.permit(*search_keys).merge(
                ismine: params[:ismine] == 'true' ? 'false' : 'true'
            ), class: "button"
        %>
    <% end %>
    <%= yield :special_search_actions %>
    <% if search_keys.include?(:tags) || search_keys.include?(:nottags) %>
        <div class="tag-actions" data-controller="tagactions">
            <div class="tag-actions-input">
                <div class="tag-polarity-types" data-controller="polaritytype">
                    <%= select 'tag', 'polarity', TagSchema.polarities, {}, data: { 
                    "tagactions-target": "polarity",
                    "polaritytype-target": "polarity", action: "polaritytype#changePolarity"
                    } %>
                    <%= select 'tag', 'type', TagSchema.allowed_types, {}, data: {
                    "tagactions-target": "tagType",
                    "polaritytype-target": "tagType"
                    } %>
                </div>
                <input data-tagactions-target="name" type="text">
            </div>
            <div class="tag-actions-buttons">
                <button class="button" data-action="click->tagactions#add">Add</button>
                <button class="button" data-action="click->tagactions#exclude">Exclude</button>
            </div>
        </div>
    <% end %>
</div>