<% tag_schema = TagSchema.get_schema(model.model_name.plural) %>
<% tag_schema.polarities.each do |polarity| %>
  <div id="<%= polarity %>" class="polarity">  
    <h4><%= polarity.upcase %></h4>
    <% tags_for_polarity = nil %>
    <% if !model.children_hash %>
      <% tags_for_polarity = model.tags_for(polarity) %>
    <% else %>
      <% tags_for_polarity = Taggable.tags_for(polarity, model.children_hash["object_tags"]) %>
    <% end %>
    <% if !tags_for_polarity.nil? %>
      <% tags_for_polarity.each do |tag_type, tags| %>
        <span class="tag-type"><%= "#{readable_tag_type tag_type}:" %></span>
        <ul id="<%= tag_type %>" class="type">
          <% tags.each do |tag| %>
            <% if tag.tooltip %>
              <li id="tag_<%= tag.id %>" class="<%= tag_type %> tag tooltip">
                <div class="tooltip-content">
                  <div><%= tag.tooltip %></div>
                </div>
                <%= link_to "ⓘ #{tag.name}", tag_url(tag) %>
              </li>
            <% else %>
              <li id="tag_<%= tag.id %>" class="<%= tag_type %> tag">
                <%= link_to tag.name, tag_url(tag) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<% end %>