<% content_for :page_title do %>
    Site Use (<%= @use_page.title.humanize %>)
<% end %>

<% content_for :left_sidebar do %>
  <%= render partial: 'sidebar', locals: {use_pages: @use_pages} %>
<% end %>

<div class="card primary">
  <div class="card secondary">
    <sub class="old-timestamp hidden">Updated: <%= legacy_time(@use_page.updated_at) %></sub>
    <sub class="new-timestamp">Updated: <%= readable_time(@use_page.updated_at, mini: true) %></sub>
    <%= render @use_page %>
  </div>

  <div class="input-group">
    <% if can? :edit, @use_page %>
      <%= link_to "Edit", edit_use_page_path(@use_page), class: "button" %>
    <% end %>
    <% if can? :destroy, @use_page %>
      <%= button_to "Delete", @use_page, method: :delete, class: "button", data: { turbo_confirm: "Are you sure you want to delete this Use Page?" } %>
    <% end %>
  </div>
</div>
