<% content_for :page_title do %>
    History
<% end %>

<div class="flex-container" id="<%= @item_model_class_name %>_container">
  <div class="card primary">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
    <span>This <%= @item_model_class_name %> has <strong><%= @pagy.count %></strong> <%= pluralize_without_count(@pagy.count, 'version') %>.</span>
  </div>
  <div class="card secondary">
    <% if instance_variable_get("@#{@item_model_class_name}") %>
      <small>current</small>
      <div class="card secondary">
      <%= render instance_variable_get("@#{@item_model_class_name}") %>
      </div>
    <% end %>
    <% instance_variable_get("@#{@item_model_class_name}_versions").each do |version| %>
      <hr>
      <div class="card primary">
        <%= render partial: "auditable/info", :locals => {:version => version} %>
        <div>
          <% reified_parent, reified_children_hash = version.fetch_reified_items(readonly: false) %>
          <% reified_parent.children_hash = reified_children_hash %>
          <div class="card secondary">
            <%= render reified_parent %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="card primary">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>