<%= turbo_frame_tag "chat_#{locals[:chat_id]}_user_#{locals[:user].id}_userlist" do %>
    <div id="<%= "chat_#{locals[:chat_id]}_users"%>" class="chat-right-sidebar">
        <div class="card primary chat-sidebar">
            <div class="chat-actions">
                <%= link_to "Edit", edit_chat_path(locals[:chat_uuid]), data: {turbo_frame: '_top' }, class: "button" %>
            </div>
            <ul class="sidebar-users" id="sidebar_users">
                <% for user_data in locals[:users_data] %>
                    <% name = name_for_icon user_data[:icon] %>
                    <% is_loc_user =  locals[:user].id == user_data[:id] %>
                    <li class="user user-<%= is_loc_user ? "you" : "other" %>">
                        <div class="sidebar-user-icon">
                            <span><%= icon_for user_data[:icon] %></span>
                        </div>
                        <span class="icon-name">
                            <% if locals[:user].admin? %>
                                <%= link_to "#{name + (is_loc_user ? " (you)" : "")}", edit_admin_user_path(user_data[:id].positive? ? user_data[:id] : 0), target: "_blank"  %>
                            <% else %>
                                <%= name + (is_loc_user ? " (you)" : "") %>
                            <% end %>
                        </span>
                        <div class="chat-admin-actions">
                            <% if !is_loc_user && can?(:chat_kick, @chat) %>
                                <%= button_to "Kick", chat_kick_path(locals[:chat_uuid], user_data[:icon]), method: :delete, class: "button", data: {turbo_frame: '_top', turbo_confirm: "Are you sure you want to kick this participant?" }  %>
                            <% end %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>