<%= form_with url: url_for(connect_code_path), method: :patch, id: "connect_code_form" do |f| %>
  <% if connect_code.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(connect_code.errors.count, "error") %> prohibited this connect_code from being saved:</h2>

      <ul>
        <% connect_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Connect Code <u><%= connect_code.code %></u></h2> 

  <%= f.hidden_field :connect_code, value: connect_code.code %>


  <div>
    <%= f.label :title, style: "display: inline" %>
    <%= f.text_field :title, value: connect_code.title %>
  </div>

  <div>
    <%= f.label :description, style: "display: inline" %>
    <%= f.text_area :description, value: connect_code.description %>
  </div>

  <div>
    <%= f.label :remaining_uses, style: "display: inline" %>
    <%= f.number_field :remaining_uses, greater_than_or_equal: 0, value: connect_code.remaining_uses %>
  </div>

  <div>
    <%= f.label :status, style: "display: block" %>
    <div>
      <%= f.radio_button :status, 'unlisted', :checked => (connect_code.status == 'unlisted') %><%= label_tag(:connect_code_status_unlisted, 'unlisted') %>
      <%= f.radio_button :status, 'listed', :checked => (connect_code.status == 'listed') %><%= label_tag(:connect_code_status_listed, 'listed') %>
    </div>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
