<%= form_with(model: chat, url: chat_path(chat.uuid), :as => :chat, method: :patch) do |form| %>
  <% if chat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
        <% chat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="sidebar-user-icon current">
    <span><%= icon_for chat_info.icon %></span>
  </div>
  
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, value: chat_info.title %>
  </div>
  
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, value: chat_info.description %>
  </div>

  <div class="input-group flex flex-col">
    <div>
      <%= form.label "Hide Latest Message in List" %>
      <%= form.check_box :hide_latest, checked: chat_info.hide_latest %>
    </div>
  </div>
  
  <div>
    <%= form.label :new_icon %>
    <div class="icon-selector" data-controller="icon-selector">
      <% chat_info.available_icons.each do |icon| %>
        <div class="sidebar-user-icon<%= " selected" if icon == chat_info.icon %>" data-icon="<%= icon %>" data-icon-selector-target="icons">
          <span data-icon="<%= name_for_icon icon %>"><%= icon_for icon %></span>
        </div>
      <% end %>
      <%= form.hidden_field :icon, {'data-icon-selector-target': "input", value: chat_info.icon} %>
    </div>
  </div>

  <div class="input-group">
    <%= form.submit "Update Chat", class: "input-main" %>
    <%= link_to "Force Ongoing", chats_path + "/" + chat.uuid + "/forceongoing", class: "button", data: {turbo: true, 'turbo-method': :post } %>
  </div>
<% end %>
