<div class="flex-container" id="chats">
  <h1>Chats</h1>
  <div class="card primary">
    <% if (can? :create, Chat) && (can? :create, ConnectCode) %>
      <%= form_with url: url_for(connect_code_consume_path), method: :patch, id: "connect_code_form", class: "input-group" do |f| %>
        <%= f.label :connect_code %>
        <%= f.text_field :connect_code, class: "form-control input-main", autocomplete: "connectcode" %>
        <%= f.submit 'Use' %>
      <% end %>
      <%= button_to "New", chats_path, method: :post, class: "button" %>
    <% end %>
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    <span><strong><%= @pagy.count %></strong> <%= @pagy.count > 0 ? pluralize_without_count(@pagy.count, 'chat') : 'chats' %></span>
  </div>
  <% @chats.each do |chat| %>
    <% settings = chat.get_user_info(current_user) %>
    <% if settings.status %>
      <div class="card secondary <%= (settings.status == "ended_viewed" ? "ended" : settings.status) %>">
    <% else %>
    <div class="card secondary">
    <% end %>
      <% if settings.title && !settings.title.blank? %>
        <%= link_to settings.title + " (" + (settings.status == "ended_viewed" ? "ended" : settings.status) + ")", chat_path(chat.uuid), class: "chat-title" %>
      <% else %>
        <%= link_to chat.uuid + " (" + (settings.status == "ended_viewed" ? "ended" : settings.status) + ")", chat_path(chat.uuid), class: "chat-title" %>
      <% end %>
      <% if settings.description && !settings.description.blank? %>
        <p class="chat-description"><%= settings.description %></p>
      <% end %>
      <hr />
      <% if chat.messages.display.first %>
        <% if settings.hide_latest? %>
          <% modded_message = chat.messages.display.first %>
          <% modded_message.content = "```\n[REDACTED]\n````" %>
          <%= render 'messages/message', locals: { message: modded_message, current_user_id: current_user.id } %>
        <% else %>
          <%= render 'messages/message', locals: { message: chat.messages.display.first, current_user_id: current_user.id, preview: true } %>
        <% end %>
      <% else %>
        <i>No messages yet.</i>
      <% end %>
    </div>
  <% end %>
  <div class="card primary">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
</div>

<% content_for :left_sidebar do %>
  <div class="card primary">
    <ul>
      <li>
        <strong><%= link_to "All", chats_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Unread", chats_path(filter: 'unread') %></strong>
      </li>
      <li>
        <strong><%= link_to "Unanswered", chats_path(filter: 'unanswered') %></strong>
      </li>
      <li>
        <strong><%= link_to "Ongoing", chats_path(filter: 'ongoing') %></strong>
      </li>
      <li>
        <strong><%= link_to "Ended", chats_path(filter: 'ended') %></strong>
      </li>
      <li>
        <strong><%= link_to "Mod Chat", chats_path(filter: 'mod') %></strong>
      </li>
    </ul>
  </div>
<% end %>

