<% content_for :page_title do %>
    Chat (<%= @chat_info.title.blank? ? @chat_info.chat.uuid : @chat_info.title %>)
<% end %>

<% content_for :info_top do %>
    <div class="chat-info-top card secondary thin" id="chat_info_top">
        <% if @chat_info %>
            <% if @chat_info.title %>
                <strong><p class="chat-title"><%= @chat_info.title %></p></strong>
            <% end %>
            <% if @chat_info.description %>
                <p class="chat-description"><%= @chat_info.description %></p>
            <% end %>
        <% end %>
        <%== render partial: 'pagy/chat_nav', locals: {pagy: @pagy} %>
    </div>
<% end %>

<div class="flex-container" id="<%= dom_id @chat %>_container" data-controller="<%= @pagy.page == 1 ? "chat" : "" %>">
    <div class="card secondary">
        <div class="flex-container messages-container" id="messages_container" data-chat-target="messages">
            <% if @pagy.page == 1 %>
                <%= turbo_stream_from(dom_id(current_user) + "_" + dom_id(@chat)) %>
            <% else %>
                <%= turbo_stream_from(dom_id(current_user) + "_" + dom_id(@chat) + "_history") %>
            <% end %>
            <% for message in @messages.reverse %>
                <%= render 'messages/message', locals: { message: message, current_user_id: current_user.id } %>
            <% end %>
        </div>
    </div>
</div>

<% content_for :right_sidebar do %>
    <div class="card primary">
        <%= render partial: 'search_form' %>
    </div>
<% end %>

<% if @chat.mod_chat.present? %>
    <% content_for :right_sidebar do %>
        <div class="card primary">
            <%= render 'chats/mod_chat_form', locals: {chat: @chat} %>
        </div>
    <% end %>
<% end %>

<% content_for :right_sidebar do %>
    <%= turbo_stream_from(dom_id(@chat) + "_" + dom_id(current_user) + "_userlist") %>
    <%== render partial: 'chats/chat_sidebar', locals: {locals: { chat_id: @chat.id, users_data: @chat.all_users_display_data, chat_uuid: @chat.uuid, user: current_user }} %>
<% end %>

<% content_for :info_bottom do %>
    <div class="card secondary thin">
        <%== render partial: 'pagy/chat_nav', locals: {pagy: @pagy} %>
    </div>
    <% if @pagy.page == 1 && can?(:create, Message.new(chat: @chat, user: current_user)) %>
        <div class="card secondary thin">
            <%= turbo_frame_tag "message_form_frame" do %>
                <%= render 'messages/form', locals: {message: Message.new(color: @chat_user&.color), chat_id: @chat.id} %>
            <% end %>
        </div>
    <% end %>
<% end %>
