<% content_for :info_top do %>
    <div class="chat-info-top card secondary thin" id="chat_info_top">
        <% if @chat_info %>
            <% if @chat_info.title %>
                <p><%= @chat_info.title %></p>
            <% end %>
            <% if @chat_info.description %>
                <p><%= @chat_info.description %></p>
            <% end %>
        <% end %>
        <%== render partial: 'pagy/chat_nav', locals: {pagy: @pagy} %>
    </div>
<% end %>

<div class="flex-container" id="<%= dom_id @chat %>_container">
    <div class="card secondary">
        <div class="flex-container" id="messages_container">
            <% if @pagy.page == 1 %>
                <%= turbo_stream_from(dom_id(current_user) + "_" + dom_id(@chat)) %>
            <% else %>
                <%= turbo_stream_from(dom_id(current_user) + "_" + dom_id(@chat) + "_history") %>
            <% end %>
            <% for message in @messages.reverse %>
                <%= render 'messages/message', locals: { message: message, current_user_id: current_user.id } %>
            <% end %>
        </div>
    </div>
</div>

<% content_for :right_sidebar do %>
    <div class="card primary">
        <%= render partial: 'search_form' %>
    </div>
    <%= turbo_stream_from(dom_id(@chat) + "_" + dom_id(current_user) + "_userlist") %>
    <%== render partial: 'chats/chat_sidebar', locals: {locals: { chat_id: @chat.id, users_data: @chat.all_users_display_data, chat_uuid: @chat.uuid, user: current_user }} %>
<% end %>

<% content_for :info_bottom do %>
    <div class="card secondary thin">
        <%== render partial: 'pagy/chat_nav', locals: {pagy: @pagy} %>
    </div>
    <% if @pagy.page == 1 %>
        <div class="card secondary thin">
            <%= turbo_frame_tag "message_form_frame" do %>
                <%= render 'messages/form', locals: {message: Message.new, chat_id: @chat.id} %>
            <% end %>
        </div>
    <% end %>
<% end %>
