<div class="card secondary">
    <span>User: <%= link_to chat_user.user.username, [:admin, chat_user.user] %></span>
    <span>Icon: </span>
    <div class="sidebar-user-icon">
        <span><%= icon_for chat_user.icon %></span>
    </div>
    <span>Icon Entitlements: </span>
    <div class="icon-selector">
        <% chat_user.icon_entitlements.each do |icon_entitlement| %>
            <div class="sidebar-user-icon">
                <span>
                    <%= link_to [:admin, icon_entitlement] do %>
                        <%= icon_for icon_entitlement.data %>
                    <% end %>
                </span>
            </div>
        <% end %>
    </div>
    <span>Permission Entitlements: </span>
    <ul>
    <% chat_user.permission_entitlements.each do |permission_entitlement| %>
        <li><%= permission_entitlement.data %><%= "(global)" if permission_entitlement.object.nil? %></li>
    <% end %>
    </ul>
</div>