<% content_for :page_title do %>
    Admin
<% end %>

<% content_for :left_sidebar do %>
  <div class="card primary">
    Admin Pages
    <ul>
      <li>
        <strong><%= link_to "Users", admin_users_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Ads", admin_ads_path(pending: true) %></strong>
      </li>
      <li>
        <strong><%= link_to "Message Search", admin_messages_search_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Entitlements", admin_entitlements_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Reports", admin_reports_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Mod Chats", admin_mod_chats_path(status: 'unanswered') %></strong>
      </li>
      <li>
        <strong><%= link_to "Alerts", admin_alerts_path %></strong>
      </li>
      <li>
        <strong><%= link_to "Audit Logs", admin_audit_logs_path %></strong>
      </li>
      <li>
        <strong><%= link_to "IP Bans", admin_ip_bans_path %></strong>
      </li>
    </ul>
  </div>
<% end %>

<div class="flex-container" id="admin_panel_container">
  <div class="card primary">
    <%= form_with url: admin_root_path, method: :get, class: 'analytics-form' do |f| %>
      <div class="filters input-group">
        <%= f.select :interval, @intervals, 
                    { selected: params[:interval] ? params[:interval] : 'day'} %>
        
        <div class="input-group input-main">
          <%= f.datetime_field :date_from, value: @begin_date, class: "input-main" %>
          <span>-></span>
          <%= f.datetime_field :date_to, value: @end_date, class: "input-main" %>
        </div>
      </div>
      <%= f.submit 'Filter', class: "input-main" %>
    <% end %>
    <div class="card secondary">
      <h2>Reports</h2>
      <%= line_chart @report_analytics %>
    </div>
    <div class="card secondary">
      <h2>Users</h2>
      <%= line_chart @user_analytics %>
    </div>
    <div class="card secondary">
      <h2>Prompts</h2>
      <%= line_chart @prompt_analytics %>
    </div>
    <div class="card secondary">
      <h2>Characters</h2>
      <%= line_chart @character_analytics %>
    </div>
    <div class="card secondary">
      <h2>Tickets</h2>
      <%= line_chart @ticket_analytics %>
    </div>
    <div class="card secondary">
      <h2>Messages</h2>
      <%= line_chart @message_analytics %>
    </div>
    <div class="card secondary">
      <h2>Connect Codes</h2>
      <%= line_chart @connect_code_analytics %>
    </div>
    <div class="card secondary">
      <h2>Ads</h2>
      <%= line_chart @ad_analytics %>
    </div>
    <div class="card secondary">
      <h2>Tag Popularity</h2>
      <%= pie_chart @tag_analytics, legend: false, donut: true %>
      <div>
        <% @tag_analytics.each do |key, value| %>
          <p>'<%= "#{key}' - #{value}" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>