<div id="<%= dom_id character %>" class="card primary character">
  <div class="character_info">
    <% if can? :view_users, character %>
      <%= link_to "PROFILE", edit_admin_user_path(character.user) %> |
    <% end %>
    <span class="type_notif <% character.status %>">
      <% if character.draft? %>
        DRAFT
      <% end %>
      <% if character.locked? %>
        LOCKED
      <% end %>
    </span>

    <div>
      <h2><%= character.name %></h2>
    </div>

    <div class="tags">
      <%= render partial: 'characters/tags', locals: { character: character} %>
    </div>
  </div>

  <% if character.description.present? %>
    <div class="ooc">
      <%= character.mark_description %>
    </div>
  <% end %>

  <% if can? :edit, character %>
    <%= link_to "Edit", edit_character_path(character), class: "character_edit_link" %>
  <% end %>
</div>