<% content_for :page_title do %>
    Edit Character (<%= @character.name %>)
<% end %>

<%= render partial: 'characters/characters_sidebar' %>

<div class="card primary">
  <h1>Editing description</h1>

  <%= render "form", character: @character, with_tags: false, pseudonym_options: @pseudonym_options %>
</div>

<div class="card primary">
  <h1>Editing tags</h1>

  <%= render "form_tags", character: @character %>

  <div>
  <div class="input-group">
    <%= link_to "Show", @character, class: "button" %>
    <%= link_to "Back", characters_path, class: "button" %>
  </div>
  </div>
</div>
