<%= render partial: 'characters/characters_sidebar' %>

<div class="card">
  <h1>Editing description</h1>

  <%= render "form", character: @character, with_tags: false, pseudonym_options: @pseudonym_options %>
</div>

<div class="card">
  <h1>Editing tags</h1>

  <%= render "form_tags", character: @character %>

  <br>

  <div>
    <%= link_to "Show this character", @character, class: "button" %> |
    <%= link_to "Back to characters", characters_path, class: "button" %>
  </div>
</div>
