<div id="<%= dom_id character %>" class="card primary character">
  <div class="character_info">
    <%= render partial: 'directory/metainfo', locals: { model: character} %>

    <div>
      <h2><%= character.name %></h2>
    </div>

    <div class="tags">
      <%= render partial: 'characters/tags', locals: { character: character} %>
    </div>
  </div>

  <% if character.description.present? %>
    <div class="ooc markdown prose prose-xl">
      <%= character.mark_description %>
    </div>
  <% end %>

  <% if can? :edit, character %>
    <%= link_to "Edit", edit_character_path(character), class: "character_edit_link button" %>
  <% end %>
</div>