<% content_for :page_title do %>
    Donations
<% end %>

<div class="flex-container" id="donation_container">
  <div class="card primary">
    <h1>CURRENT GOAL</h1>
    <div>$<%= @total %> / $<%= @current_goal['cost'] %> </div>
    <span>The next goal is <strong><%= @current_goal['name'] %></strong></span>
    <p><%= @current_goal['markdown'] %></p>
    <div class="donation-progress" data-controller="goal">
      <h3>Funding Breakdown</h3>

      <ul>
        <%= render partial: 'donation/goal', collection: @funding_goals, as: :goal %>
      </ul>
      
      <div class="progress-goals">
        <% @funding_goals.each_with_index do |fund, idx| %>
          <div style="width: <%= fund['percentage'] %>%;">
          </div>
          <div class="funding-goal-container">
            <div class="funding-goal<%= fund['funded'] ? " funded" : "" %>">
              <h3>$<%= fund['accumulative'].to_i %></h3>
              <h4><%= fund['name'] %></h4>
            </div>
          </div>
        <% end %>
      </div>

      <div class="progress-bg" id="progress-bg">
        <% @funding_goals.each do |fund| %>
          <div class="goal-bar" style="width: <%= fund['percentage'] %>%;"></div>
        <% end %>
        <div class="goal-separators" id="progress-separators">
          <% @funding_goals.each do |fund| %>
            <div class="goal-separator" style="left: <%= fund['percentage_accumulative'] %>%;"></div>
          <% end %>
        </div>
        <div class="progress-bar-container" style="width: <%= @funding_reached %>%;">
          <div class="progress-bar" id="progress-bar" goal="<%= @funding_reached %>">
            <div class="progress-current">$<%= @total %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card primary">
    <div class="card secondary">
      <h1>SUPPORT THE SITE</h1>
      <p>If you like what we're doing, you can fund the development of extra features and help us pay the bills here.</p>

      <p>Every donation is appreciated, whether it's a one off or a monthly pledge. If you subscribe with a recurring donation, that gets counted towards the total for the goals for developing extra features, and will help unlock improvements to the site for everyone!</p>
      <p>If you run into issues, please contact cherpadmin@protonmail.com</p>
      <table class="prices table gap-2">
        <tr>
          <% @prices.each do |price| %>
            <th align="center">$<%= price['cost'] %></th>
          <% end %>
        </tr>
        <tr>
          <% @prices.each do |price| %>
            <td>
              <%= button_to "/create_stripe_session?price=#{price['once']}&mode=payment", class: 'button', data: { turbo: false } do %>
                One-time
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <% @prices.each do |price| %>
            <td>
              <%= button_to "/create_stripe_session?price=#{price['monthly']}&mode=subscription", class: 'button', data: { turbo: false } do %>
                Monthly
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="card primary">
      <h1>ALL GOALS</h1>
      <ul>
        <%= render partial: 'donation/goal', collection: @goals, as: :goal %>
        <li id="future_goals" class="goal">
          <strong>Future Goals</strong> (TBD) - Stay tuned for additional features as we continue to develop and improve Cher Ami.
        </li>
      </ul>
    </div>

    <div class="card secondary">
      <h1>AD SPACE</h1>

      <p>For information about what each tier offers, visit the <a href="/use/adguide" target="_blank">Ad Guide</a>.</p>
      <p>Ensure your account on the site has a confirmed email that matches what you will provide to stripe. You can change your email <%= link_to "here", edit_user_registration_path %></p>
      <p>It may take up to 10 minutes for your Ad Tier subscription to be processed and become available on the site. After which you can create new ads <%= link_to "on this page", ads_path %>.</p>
      <table class="prices table gap-2">
        <tr>
          <% @ad_prices.keys.each do |key| %>
            <th align="center"><%= key.humanize %></th>
          <% end %>
        </tr>
        <tr>
          <% @ad_prices.keys.each do |key| %>
            <td>
              <%= button_to "/create_stripe_session?price=#{@ad_prices[key]['week']['id']}&mode=subscription", class: 'button', data: { turbo: false } do %>
                Weekly - $<%= @ad_prices[key]['week']['cost'] %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <% @ad_prices.keys.each do |key| %>
            <td>
              <%= button_to "/create_stripe_session?price=#{@ad_prices[key]['month']['id']}&mode=subscription", class: 'button', data: { turbo: false } do %>
                Monthly - $<%= @ad_prices[key]['month']['cost'] %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <tr>
          <% @ad_prices.keys.each do |key| %>
            <td>
              <%= button_to "/create_stripe_session?price=#{@ad_prices[key]['three_months']['id']}&mode=subscription", class: 'button', data: { turbo: false } do %>
                Tri-Monthly - $<%= @ad_prices[key]['three_months']['cost'] %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>