<div id="donation_container">
  <div class="card primary">
    <h1>CURRENT GOAL</h1>
    <div class="status">$<%= @total %> / $<%= @current_goal['cost'] %> </div>
    <p>The next goal is <strong><%= @current_goal['name'] %></strong></p>
    <p><%= @current_goal['markdown'] %></p>
    <div class="progress" data-controller="goal">
      <h3>Funding Breakdown</h3>

      <ul>
        <%= render partial: 'donation/goal', collection: @funding_goals, as: :goal %>
      </ul>
      
      <div class="progress-goals">
        <% @funding_goals.each_with_index do |fund, idx| %>
          <div style="width: <%= fund['percentage'] %>%;">
          </div>
          <div class="funding-goal-container">
            <div class="funding-goal<%= fund['funded'] ? " funded" : "" %>">
              <h3>$<%= fund['accumulative'].to_i %></h3>
              <h4><%= fund['name'] %></h4>
            </div>
          </div>
        <% end %>
      </div>

      <div class="progress-bg" id="progress-bg">
        <% @funding_goals.each do |fund| %>
          <div class="goal-bar" style="width: <%= fund['percentage'] %>%;"></div>
        <% end %>
        <div class="goal-separators" id="progress-separators">
          <% @funding_goals.each do |fund| %>
            <div class="goal-separator" style="left: <%= fund['percentage_accumulative'] %>%;"></div>
          <% end %>
        </div>
        <div class="progress-bar-container" style="width: <%= @funding_reached %>%;">
          <div class="progress-bar" id="progress-bar" goal="<%= @funding_reached %>">
            <div class="progress-current">$<%= @total %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card primary">
    <h1>SUPPORT THE SITE</h1>
    <p>If you like what we're doing, you can fund the development of extra features and help us pay the bills here.</p>

    <p>Every donation is appreciated, whether it's a one off or a monthly pledge. If you subscribe with a recurring donation, that gets counted towards the total for the goals for developing extra features, and will help unlock improvements to the site for everyone!</p>
    <p>If you run into issues, please contact bearsharktopusdev@gmail.com</p>
    <table class="prices">
      <tr>
        <% @prices.each do |price| %>
          <th align="center">$<%= price['cost'] %></th>
        <% end %>
      </tr>
      <tr>
        <% @prices.each do |price| %>
          <td>
            <%= button_to "/create_stripe_session?price=#{price['once']}&mode=payment", data: { turbo: false } do %>
              One-time
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% @prices.each do |price| %>
          <td>
            <%= button_to "/create_stripe_session?price=#{price['monthly']}&mode=subscription", data: { turbo: false } do %>
              Monthly
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
  <div class="card primary">
    <h1>ALL GOALS</h1>
    <ul>
      <%= render partial: 'donation/goal', collection: @goals, as: :goal %>
    </ul>
  </div>
</div>