<div id="<%= dom_id tag %>" class="card primary tag mini">
  <div class="tag_info">
    <strong><%= link_to tag.name, tag %></strong>:
    <span class="type_notif">
      <% if tag.enabled? %>
        ENABLED
      <% else %>
        DISABLED
      <% end %>
    </span>
  </div>
  Polarity: <%= tag.polarity %><br />
  Type: <%= tag.tag_type %>
  
  <hr />

  <ul class="tag_actions">
    <% if can?(:hide, tag) %>
      <li><%= button_to "Hide", hide_tag_path(tag), method: :post %></li>
    <% end %>
  </ul>
</div>
