<% variant = (defined?(variant) && variant) || 'full'  %>

<% content_for "card_info_#{tag.id}" do %>
  <strong><%= link_to tag.name, tag %></strong>:
  <span class="type_notif">
    <% if tag.enabled? %>
      ENABLED
    <% else %>
      DISABLED
    <% end %>
  </span>
<% end %>

<% content_for "card_content_#{tag.id}" do %>
  <div class="tag_body">
    <% if Current.user.admin? %>
      <div class="collapse bg-header text-header-content border">
        <input type="checkbox" />
        <div class="collapse-title font-semibold">CSV</div>
        <div class="collapse-content">
          <div class="card secondary prose !max-w-none">
            <code><%= tag.to_csv %></code>
          </div>
        </div>
      </div>
    <% end %>
    <p>
      Polarity: <%= tag.polarity %><br />
      Type: <%= tag.tag_type %>
    </p>
  
    <p>
      Name: <%= tag.name %><br />
      Lower: <%= tag.name.downcase %>
    </p>

    <p>
      Tooltip: <%= tag.tooltip %>
    </p>

    <p>
      This Tag:
      <div class="tags polarity">
        <ul class="tag-list">
          <%= render partial: 'tags/bubble', locals: {tag: tag} %>
        </ul>
      </div>
    </p>

    <p>
      Child Tags:
      <div class="tags polarity">
        <ul class="tag-list">
          <% tag.children.each do |child_tag| %>
            <%= render partial: 'tags/bubble', locals: {tag: child_tag} %>
          <% end %>
        </ul>
      </div>
    </p>

    <p>
      Duplicate Tags:
      <div class="tags polarity">
        <ul class="tag-list">
          <% tag.duplicates.each do |duplicate_tag| %>
            <%= render partial: 'tags/bubble', locals: {tag: duplicate_tag} %>
          <% end %>
        </ul>
      </div>
    </p>

    <p>
      Details
    </p>

    <div class="card secondary text-tertiary-content prose !max-w-none">
      <%== marksmithed tag.details %>
    </div>
  </div>
  
  <% if tag.synonym.present? && variant == 'full' %>
    Synonym
    <%= render partial: 'tags/mini', locals: {tag: tag.synonym} %>
  <% elsif tag.parent.present? && variant == 'full' %>
    Parent
    <%= render partial: 'tags/mini', locals: {tag: tag.parent} %>
  <% end %>
<% end %>

<%= render partial: 'directory/card', locals: { 
  model: tag, variant:
} %>
