<% variant = (defined?(variant) && variant) || 'full'  %>

<% content_for :card_info, flush: true do %>
  <strong><%= link_to tag.name, tag %></strong>:
  <span class="type_notif">
    <% if tag.enabled? %>
      ENABLED
    <% else %>
      DISABLED
    <% end %>
  </span>
<% end %>

<% content_for :card_content, flush: true do %>
  <div class="tag_body">
    <p>
      Polarity: <%= tag.polarity %><br />
      Type: <%= tag.tag_type %>
    </p>
  
    <p>
      Name: <%= tag.name %><br />
      Lower: <%= tag.name.downcase %>
    </p>
  </div>
  
  <% if tag.synonym.present? && variant == 'full' %>
    Synonym
    <%= render partial: 'tags/mini', locals: {tag: tag.synonym} %>
  <% elsif tag.parent.present? && variant == 'full' %>
    Parent
    <%= render partial: 'tags/mini', locals: {tag: tag.parent} %>
  <% end %>
<% end %>

<%= render partial: 'directory/card', locals: { 
  model: tag, variant:
} %>
