<div id="<%= dom_id tag %>" class="card primary">
  <div class="tag_info">
    <strong><%= link_to tag.name, tag %></strong>
  </div>
  <div class="tag_body">
    <p>Type: <%= tag.tag_type %></p>
  
    <p>
      Name: <%= tag.name %><br />
      Lower: <%= tag.name.downcase %>
    </p>
  </div>
</div>
