<% content_for :page_title do %>
    Tag (<%= "#{@tag.polarity}:#{@tag.tag_type}:#{@tag.name}" %>)
<% end %>

<%= render @tag %>

<div class="card primary">
  <div class="input-group">
    <% if can? :update, @tag %>
      <%= link_to "Edit", edit_tag_path(@tag), class: "button" %>
    <% end %>
    <%= link_to "Back", tags_path, class: "button" %>

    <% if can? :destroy, @tag %>
      <%= button_to "Destroy", @tag, method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
