<div id="<%= dom_id prompt %>" class="card primary prompt">
  <div class="prompt-info">
    <%= render partial: 'directory/metainfo', locals: { model: prompt} %>
    <div class="tags">
      <%= render partial: 'prompts/tags', locals: { prompt: prompt} %>
    </div>
    <span class="slots">
      <strong><u><%= prompt.default_slots %></u> SLOTS</strong>
      <span class="managed">
        <strong><% unless prompt.managed? %>UN-<% end %>MANAGED</strong>
      </span>
    </span>
  </div>

  <% if prompt.ooc.present? %>
    <div class="ooc markdown prose max-w-none">
      <%= prompt.mark_ooc %>
    </div>
  <% end %>

  <% if prompt.ooc.present? && prompt.starter.present? %>
    <hr />
  <% end %>

  <% if prompt.starter.present? %>
    <div class="starter markdown prose max-w-none">
      <%= prompt.mark_starter %>
    </div>
  <% end %>

  <% if can? :edit, prompt %>
    <%= link_to "Edit", edit_prompt_path(prompt), class: "prompt_edit_link button" %>
  <% end %>
</div>