
<div class="card primary">
    <% if entitlement.title %>
        <h3><%= entitlement.title %></h3>
    <% end %>
    <% if entitlement.object %>
        <p>Item (<%= entitlement.object_type %>):</p>
        <%= render entitlement.object %>
    <% end %>
    <% if entitlement.flag %>
        <span>Flag: <%= entitlement.flag %></span>
    <% end %>
    <% if entitlement.data %>
        <span>Data: </span>
        <% if entitlement.flag == "emoji" %>
            <span>Emoji Title: <%= name_for_icon entitlement.data %></span>
            <div class="sidebar-user-icon">
                <span><%= icon_for entitlement.data %></span>
            </div>
        <% end %>
        <p class="entitlement-data"><%= entitlement.data %></p>
    <% end %>
    <span>Users</span>
    <ul>
        <% entitlement.user_entitlements.each do |ue| %>
            <li><%= link_to ue.user.username, edit_admin_user_path(ue.user) %></li>
        <% end %>
    </ul>
    <hr>
    <%= link_to "Edit", edit_admin_entitlement_path(entitlement) %>
</div>