<% content_for :page_title do %>
    Admin - Reports
<% end %>

<div class="card primary">
  <h1>Reports</h1>
  <div class="input-group">
    <%= link_to "Unhandled", admin_reports_path, class: "button" %>
    <%= link_to "Handled", admin_reports_path(handled: true), class: "button" %>
  </div>

  <div id="reports">
    <%== pagy_nav @pagy %>
    <% @reports.each do |report| %>
      <div class="card secondary">
        <span>From: <%= link_to report.reporter.username, edit_admin_user_path(report.reporter) %></span>
        <br />
        <span>Concerning: <%= link_to report.reportee.username, edit_admin_user_path(report.reportee) %></span>
        <br />
        <span>Type: <%= report.reportable_type %></span>
        <br />
        <span>Reported at: <%= report.created_at.strftime("%l:%M %p %b %d %Y") %></span>
        <br />
        <ol>
          <% rule_titles = CardinalSettings::Use.get_page('rules')['titles'] %>
          <% report.rules.each do |rule| %>
            <li value="<%= rule %>">
              <%= (1..rule_titles.count).member?(rule) ? rule_titles[rule-1] : "Undefined" %>
            </li>
          <% end %>
        </ol>
        <% if report.handled %>
          <br />
          <span>Resolved by: <%= link_to report.handled_by.username, edit_admin_user_path(report.handled_by) %></span>
        <% end %>
        <div class="input-group">
          <%= link_to "Show", [:admin, report], class: "button" %>
        </div>
      </div>
    <% end %>
    <%== pagy_nav @pagy %>
  </div>
</div>
