<div id="<%= dom_id alert %>">
  <p>
    <strong>Title:</strong>
    <%= alert.title %>
  </p>

  <p>
    <strong>Find:</strong>
    <%= alert.find %>
  </p>

  <p>
    <strong>Regex:</strong>
    <%= alert.regex %>
  </p>

  <p>
    <strong>Replacement:</strong>
    <%= alert.replacement %>
  </p>

</div>
