<%= fields_for :tags do |tag_form| %>
  <% @autocomplete = !Rails.env.test? %>
  <% CardinalSettings::Tags.polarities.each do |polarity| %>
    <div class="polarity">
      <h3><%= tag_form.label polarity, "#{polarity.upcase} TAGS:" %></h3>
      <% CardinalSettings::Tags.types.each do |tag_type, tag_hash| %>
        <% if tag_hash['polarities'].include?(polarity) %>
          <%= fields_for "tags[#{polarity}]" do |polarity_form| %>        
            <%= polarity_form.label "#{tag_type}", "#{readable_tag_type tag_type}:" %>
            <% if tag_hash.key? 'entries' %>
              <%= render partial: 'prompts/form_tags/entries', locals: { entries: prompt.entries_for(polarity, tag_type), polarity: polarity, tag_type: tag_type, p_form: polarity_form } %>
            <% end %>
            <% if tag_hash['fill_in'] %>
              <%= render partial: 'prompts/form_tags/fill_ins', locals: { autocomplete: @autocomplete, entries: prompt.fill_ins_for(polarity, tag_type), polarity: polarity, tag_type: tag_type, p_form: polarity_form } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>