<% content_for :card_content do %>
  <%= link_to filter.id, filter %>

  <p>
    <strong>Group:</strong>
    <%= filter.group %>
  </p>

  <p>
    <strong>Filter type:</strong>
    <%= filter.filter_type %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= filter.priority %>
  </p>

  <%= render filter.target %>
<% end %>

<%= render partial: 'directory/card', locals: { model: filter } %>