<p style="color: green"><%= notice %></p>

<%= render partial: 'filters/filter_sidebar', layout: 'directory/left_sidebar' %>

<%= render @filter %>

<div>
  <% if can? :update, @filter %>
    <%= link_to "Edit this filter", edit_filter_path(@filter) %> |
  <% end %>
  <%= link_to "Back to filters", filters_path %>

  <% if can? :destroy, @filter %>
    <%= button_to "Destroy this filter", @filter, method: :delete, data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
