<%= render partial: 'filters/filter_sidebar', layout: 'directory/left_sidebar' %>

<%= render @filter %>

<div class="card">
  <% if can? :update, @filter %>
    <%= link_to "Edit this filter", edit_filter_path(@filter), class: "button" %> |
  <% end %>
  <%= link_to "Back to filters", filters_path, class: "button" %>

  <% if can? :destroy, @filter %>
    <%= button_to "Destroy this filter", @filter, method: :delete, class: "button" data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>
