<% content_for :page_title do %>
    Filter (<%= @filter.group %>)
<% end %>

<%= render partial: 'filters/filter_sidebar' %>

<%= render @filter %>

<div class="card primary">
  <div class="input-group">
    <% if can? :update, @filter %>
      <%= link_to "Edit", edit_filter_path(@filter), class: "button" %>
    <% end %>
    <%= link_to "Back", filters_path, class: "button" %>

    <% if can? :destroy, @filter %>
      <%= button_to "Delete", @filter, method: :delete, class: "button", data: {turbo_confirm: "Are you sure you want to delete this Filter?"} %>
    <% end %>
  </div>
</div>
