<div id="<%= dom_id user %>" class="user">
  <strong><%= link_to user.username, edit_admin_user_path(user) %></strong>
  <br />
  <span><%= user.created_at.strftime("%l:%M %p %b %d %Y") %></span>
  <% if user.updated_at > user.created_at %>
    <h6 class="user_edited">(Edited <%= user.updated_at.strftime("%l:%M %p %b %d %Y") %>)</h6>
  <% end %>
  <p>
    <%= simple_format h(user.username) %>
  </p>
</div>
