<% content_for :page_title do %>
    Admin - <%= @user.username %>
<% end %>

<h1>Editing user</h1>

<div class="card primary">
  <%= render "form", user: @user %>
  <% if @user.handled_reports.any? %>
    <p>Reports this admin has resolved:</p>
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy_handled_reports} %>
    <ul>
      <% @handled_reports.each do |report| %>
        <li><%= link_to "Report #{report.id}", [:admin, report] %></li>
      <% end %>
    </ul>
  <% end %>
  <p>Content this user has Reported:</p>
  <%== render partial: 'pagy/nav', locals: {pagy: @pagy_sent_reports} %>
  <ul>
    <% @sent_reports.each do |report| %>
      <li><%= render report, variant: "mini" %></li>
    <% end %>
  </ul>
  <p>Content this user has been Reported for:</p>
  <%== render partial: 'pagy/nav', locals: {pagy: @pagy_received_reports} %>
  <ul>
    <% @received_reports.each do |report| %>
      <li><%= render report, variant: "mini" %></li>
    <% end %>
  </ul>
  <p>Entitlements:</p>
  
  <%= form_with url: edit_admin_user_path(@user), method: :get, class: 'filter-form' do |f| %>
    <div class="filters">
      <div class="input-group">
        <%= f.select :object_type, 
                    [['All Types', ''], 'Theme', 'ChatUser', 'Pseudonym', ['Global', 'None']], 
                    { selected: params[:object_type] } %>
                    
        <%= f.select :flag, 
                    [['All Flags', ''], 'emoji', 'modchat-emoji', 'permission', 'pseudonym', 'ad-tier', 'subscription', 'debug'], 
                    { selected: params[:flag] } %>
      </div>
      <div class="input-group">                       
        <%= f.date_field :date_from, value: params[:date_from] %>
        <%= f.date_field :date_to, value: params[:date_to] %>
      </div>
      
      <%= f.submit 'Filter' %>
    </div>
  <% end %>
  <%== render partial: 'pagy/nav', locals: {pagy: @pagy_entitlements}%>
  <ul>
    <% @entitlements.each do |entitlement| %>
      <li>
        <div class="card secondary">
          <%= render entitlement %>
        </div>
      </li>
    <% end %>
  </ul>
  <p>Ads:</p>
  <%== render partial: 'pagy/nav', locals: {pagy: @pagy_ads} %>
  <div>
    <%= render @ads %>
  </div>
  <p>Prompts:</p>
  <%== render partial: 'pagy/nav', locals: {pagy: @pagy_prompts} %>
  <div>
    <% @prompts.each do |prompt| %>
      <%= render prompt %>
    <% end %>
  </div>
</div>

<br>

<div>
  <%= link_to "History", history_admin_user_path(@user), class: "button" %>
  <%= link_to "Back to users", admin_users_path, class: "button" %>
</div>
