<div id="<%= dom_id pseudonym %>" class="card primary pseudonym mini">
  <div class="pseudonym_info">
    <%= render partial: 'directory/metainfo', locals: { model: pseudonym} %>
  </div>
  <div class="name">
    <strong>NAME <u><%= pseudonym.name %></u></strong>
  </div>
  
  <hr />

  <span class="pseudonym_date_time">
    <!-- Display the date and time of the pseudonym  -->
    <%= link_to (pseudonym.updated_at || pseudonym.created_at).strftime("%Y-%m-%d %k:%M:%S"), pseudonym %>
  </span>

  <% if can? :edit, pseudonym %>
    <%= link_to "Edit", edit_pseudonym_path(pseudonym), class: "pseudonym_edit_link" %>
  <% end %>

  <ul class="pseudonym_actions">
    
  </ul>
</div>
