<div class="flex-container" id="pseudonyms_container">
  <div class="card primary">
    <%= link_to "New Pseudonym", new_pseudonym_path, class: "button" %>
    <div class="pagination max-lg:hidden">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
    <span>Your search has <strong><%= @pagy.count %></strong> total pseudonyms!</span>
  </div>
  <%= render partial: 'pseudonyms/mini', collection: @pseudonyms, as: :pseudonym %>
  <div class="card primary max-lg:hidden">
    <div class="pagination">
      <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
    </div>
  </div>
</div>

<% content_for :secondary_navbar do %>
  <div class="px-4 pb-2 lg:hidden sticky bottom-0">
    <%== render partial: 'pagy/nav', locals: {pagy: @pagy} %>
  </div>
<% end %>