<% content_for :page_title do %>
    Pseudonym (<%= @pseudonym.name %>)
<% end %>

<%= render partial: 'pseudonyms/pseudonyms_sidebar' %>

<%= render @pseudonym %>

<div class="card primary">
  <div class="input-group">
    <% if can? :update, @pseudonym %>
      <%= link_to "Edit", edit_pseudonym_path(@pseudonym), class: "button" %>
    <% end %>
    <%= link_to "Back", pseudonyms_path, class: "button" %>

    <% if can? :destroy, @pseudonym %>
      <%= button_to "Delete", @pseudonym, method: :delete, class: "button", data: {turbo_confirm: "Are you sure you want to delete this Pseudonym?"} %>
    <% end %>
  </div>
</div>
