<nav id="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <% if user_signed_in? %>
      <li> <%= link_to "Directory", prompts_path %> </li>
      <li>
        <%= turbo_stream_from dom_id(current_user)  + "_notifications" %>
        <%= render 'notifications', notifications: current_user.notifications %>
      </li>
      <li> <%= link_to current_user.username, edit_user_registration_path %> </li>
    <% else %>
      <li><a href= <%= new_user_session_path %>>Sign In</a></li>
      <li><a href= <%= new_user_registration_path %>>Sign Up</a></li>
    <% end %>
    <li class="disabled"><a href="/">Donate</a></li>
    <li> <%= link_to "Site Use", use_page_path %> </li>
    <li class="disabled"><a href="/">Discord</a></li>
    <% if user_signed_in? %>
      <li><%= button_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% end %>
    <% if !Rails.env.test? %>
      <li id="online_count">
        <span><a href="#">Online: <%= ActionCable.server.pubsub.send(:redis_connection).pubsub("channels", "user_*_notifications").count %></a></span>
      </li>
    <% end %>
  </ul>
</nav>