<nav class="site-navbar nav-mobile">
  <%= link_to "", root_path, class: "nav-item nav-home" %>
  <% if user_signed_in? %>
    <%= link_to "", prompts_path, class: "nav-item nav-directory" %>
    <span class="nav-item nav-notifications">
      <%= link_to "", chats_path %>
      <%= render 'notifications', notifications: current_user.notifications %>
    </span>
    <% if current_user.admin? %>
      <%= link_to "", "/admin", class: "nav-item nav-admin" %>
    <% end %>
    <%= link_to "", edit_user_registration_path, class: "nav-item nav-user" %>
  <% else %>
    <%= link_to "", new_user_session_path, class: "nav-item nav-login" %>
    <%= link_to "", new_user_registration_path, class: "nav-item nav-register" %>
  <% end %>
  <%= link_to "", donation_url, class: "nav-item nav-donate" %>
  <%= link_to "", use_pages_path, class: "nav-item nav-use" %>
  <%= link_to "", contact_us_path, class: "nav-item nav-community" %>
  <% if user_signed_in? %>
    <%= button_to "", destroy_user_session_path, method: :delete, class: "nav-item nav-logout", data: {turbo_confirm: "Are you sure?"} %>
  <% end %>
  <% if !Rails.env.test? %>
    <%= link_to "#", class: "nav-item nav-online" do %>
      <%= ActionCable.server.pubsub.send(:redis_connection).pubsub("channels", "user_*_notifications").count %> Online
    <% end %>
  <% end %>
</nav>