<%= turbo_frame_tag "notifications" do %>
    <div class="notifications-desktop">
        <%= link_to "Your Chats", chats_path, data: {turbo_frame: '_top' } %>
        <% if notifications[:unread] > 0 || notifications[:unanswered] > 0 || notifications[:ended] > 0 %>
            <span class="notif-values">
                <% if notifications[:unread] > 0 %>
                    <% unread_class = "alone" if notifications[:unanswered] == 0 && notifications[:ended] == 0 %>
                    <% unread_class = "leftmost" if notifications[:unanswered] > 0 || notifications[:ended] > 0 %> 
                    <span class="notif-unread notif-value <%= unread_class %>">
                        <span class="notif-unread-pulser"></span>
                        <span class="notif-unread-inner"><%= notifications[:unread] %></span>
                    </span>
                <% end %>
                <% if notifications[:unanswered] > 0 %>
                    <% unanswered_class = "alone" if notifications[:unread] == 0 && notifications[:ended] == 0 %>
                    <% unanswered_class = "rightmost" if notifications[:unread] > 0 && notifications[:ended] == 0 %>
                    <% unanswered_class = "leftmost" if notifications[:unread] == 0 && notifications[:ended] > 0 %>
                    <span class="notif-unanswered notif-value <%= unanswered_class %>">
                        <%= notifications[:unanswered] %>
                    </span>
                <% end %>
                <% if notifications[:ended] > 0 %>
                    <% ended_class = "alone" if notifications[:unread] == 0 && notifications[:unanswered] == 0 %>
                    <% ended_class = "rightmost" if notifications[:unread] > 0 || notifications[:unanswered] > 0 %>
                    <span class="notif-ended notif-value <%= ended_class %>">
                        <%= notifications[:ended] %>
                    </span>
                <% end %>
            </span>
        <% end %>
    </div>
    <div class="notifications-mobile">
        <%= link_to chats_path, data: {turbo_frame: '_top' } do %>
           <div class="notifications-mobile-numbers">
                <% if notifications[:unread] > 0 || notifications[:unanswered] > 0 || notifications[:ended] > 0 %>
                    <span class="notif-values">
                        <% if notifications[:unread] > 0 %>
                            <% unread_class = "alone" if notifications[:unanswered] == 0 && notifications[:ended] == 0 %>
                            <% unread_class = "leftmost" if notifications[:unanswered] > 0 || notifications[:ended] > 0 %> 
                            <span class="notif-unread notif-value <%= unread_class %>">
                                <span class="notif-unread-pulser"></span>
                                <span class="notif-unread-inner"><%= notifications[:unread] %></span>
                            </span>
                        <% end %>
                        <% if notifications[:unanswered] > 0 %>
                            <% unanswered_class = "alone" if notifications[:unread] == 0 && notifications[:ended] == 0 %>
                            <% unanswered_class = "rightmost" if notifications[:unread] > 0 && notifications[:ended] == 0 %>
                            <% unanswered_class = "leftmost" if notifications[:unread] == 0 && notifications[:ended] > 0 %>
                            <span class="notif-unanswered notif-value <%= unanswered_class %>">
                                <%= notifications[:unanswered] %>
                            </span>
                        <% end %>
                        <% if notifications[:ended] > 0 %>
                            <% ended_class = "alone" if notifications[:unread] == 0 && notifications[:unanswered] == 0 %>
                            <% ended_class = "rightmost" if notifications[:unread] > 0 || notifications[:unanswered] > 0 %>
                            <span class="notif-ended notif-value <%= ended_class %>">
                                <%= notifications[:ended] %>
                            </span>
                        <% end %>
                    </span>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>
