<% @rules = valid_rules %>
<div class="card primary">
    <% if @report.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being created:</h2>
        <ul>
          <% @report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_with model: @report, local: true do |form| %>
        <div>
            <%= form.label :context %>
            <%= form.text_field :context, autofocus: true, class: "grow" %>
        </div><br/>
        <div class="field">
            <%= form.label :rules %>
            <% @rules.each do |rule| %>
                <div>
                    <%= label_tag do %>
                      <%= check_box_tag 'report[rules][]', rule[1], false %>
                      <%= rule[0] %>
                    <% end %>
                </div>
            <% end %>
            <!--%= form.select :rules, options_for_select(@rules, 1), { :prompt => nil }, { :multiple => true }%-->
        </div><br>
        <div class="actions">
            <%= form.submit "Report", data: { turbo_confirm: "Are you sure this report is accurate?" } %>
        </div>
    <%= form.hidden_field :reportable_id, value: @report.reportable_id %>
    <%= form.hidden_field :reportable_type, value: @report.reportable_type %>
    <% end %>
</div>

<% if @report.reportable.present? %>
    <div id="<%= dom_id @report.reportable %>" class="report">
        <% if @report.reportable_type == "Message" %>
            <div class="card secondary">
                <div class="flex-container" id="messages_container">
                    <%= render @report.reportable, locals: {reporting: true, reportable: @report.reportable} %>
                </div>
            </div>
        <% else %>
            <%= render @report.reportable, locals: {reporting: true, reportable: @report.reportable} %>
        <% end %>
    </div>
<% end %>