<% content_for :page_title do %>
    Reports
<% end %>

<div class="card primary">
    <h1>Reports</h1>
    <div class="input-group">
        <%= link_to "Unhandled", reports_path, class: "button" %>
        <%= link_to "Handled", reports_path(handled: true), class: "button" %>
    </div>

    <div id="reports">
    <%== pagy_nav @pagy %>
    <% @reports.each do |report| %>
        <div>
            <span>Type: <%= report.reportable_type %></span>
            <br />
            <span>Reported at: <%= report.created_at.strftime("%l:%M %p %b %d %Y") %></span>
        </div>
        <p>
            <%= link_to "Show", report, class: "button" %>
        </p>
    <% end %>
    <%== pagy_nav @pagy %>
    </div>

</div>