<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "vapid-public-key", content: ENV.fetch('WEBPUSH_PUBLIC_KEY', nil) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= render partial: 'themes/stylesheet' %>

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script
      src="https://js.sentry-cdn.com/561d51d4da53e5e5ad60cab12cbe3039.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://browser.sentry-cdn.com/9.5.0/bundle.min.js"
      integrity="sha384-5uFF6g91sxV2Go9yGCIngIx1AD3yg6buf0YFt7PSNheVk6CneEMSH6Eap5+e+8gt"
      crossorigin="anonymous"
    ></script>
    <% sentry_id = request.env["sentry.error_event_id"] %>
    <% if sentry_id.present? %>
    <script>
      Sentry.init({ dsn: "https://561d51d4da53e5e5ad60cab12cbe3039@o4508939275010048.ingest.us.sentry.io/4508939284578304" });
      Sentry.showReportDialog({ eventId: "<%= sentry_id %>" });
    </script>
    <% end %>
    <script>
      function checkLocalStorage() {
          var mod = 'test';
          try {
              localStorage.setItem(mod, mod);
              localStorage.removeItem(mod);
              return true;
          } catch(e) {
              return false;
          }
      }

      function checkTheme() {
        const theme = localStorage.getItem('theme');
        if (theme == "light" || theme == "dark") {
          document.documentElement.setAttribute('data-theme', theme);
        } else {
          if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.setAttribute('data-theme', 'dark');
          } else {
            document.documentElement.setAttribute('data-theme', 'light');
          }
        }
      }
      checkTheme();
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const newColorScheme = e.matches ? "dark" : "light";
        if (newColorScheme === "light") {
          document.documentElement.setAttribute('data-theme', "light");
        } else if (newColorScheme === "dark") {
          document.documentElement.setAttribute('data-theme', "dark");
        }
      });

      function changeTheme(theme) {
        document.documentElement.setAttribute('data-theme', theme)
        if (checkLocalStorage()) {
          localStorage.setItem('theme', theme);
        }
      }

      function toggleDarkMode() {
        if (document.documentElement.getAttribute('data-theme') == "dark") {
          changeTheme(document.documentElement.getAttribute('data-theme').replace("dark", "light"));
        } else {
          changeTheme(document.documentElement.getAttribute('data-theme').replace("light", "dark"));
        }
      }
    </script>
    <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag 'ace-colorpicker.min.js' %>
    <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/ace-builds@1.39.0/css/ace.min.css" rel="stylesheet">
  </head>

  <body data-controller="twemoji" class="<%= controller_name %>-page">
    <div id="site">
      <header class="header">
        <a href="/", class='header-image'>
          <%= image_tag 'titlebar.png' %>
        </a>
      </header>
      <%= render 'navbar' %>
      <div class="site-container">
        <div class="top-right-filler"></div>
        <div class="right-sidebar">
          <%= yield :right_sidebar %>
          <% ads_for(:sidebar, 2).each do |ad| %>
            <%= render partial: '/ads/ad_fragment', locals: {ad: ad} %>
          <% end %>
        </div>
        <div class="top-left-filler"></div>
        <div class="left-sidebar">
          <%= yield :left_sidebar %>
          <% ads_for(:sticky, 2).each do |ad| %>
            <%= render partial: '/ads/ad_fragment', locals: {ad: ad} %>
          <% end %>
        </div>
        <div class="info-top">
          <%= turbo_frame_tag :flashes, class: "flashes" do %>
            <%= render 'shared/flashes' %>
          <% end %>
          <%= yield :info_top %>
        </div>
        <div class="main">
          <%= yield %>
        </div>
        <div class="info-bottom">
          <%= yield :info_bottom %>
          <% ads_for(:footer, 1).each do |ad| %>
            <%= render partial: '/ads/ad_fragment', locals: {ad: ad} %>
          <% end %>
        </div>
      </div>
      <%= render 'footer' %>
    </div>
  <script>
    // Textarea auto-grow
    var tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }
    function OnInput() {
      this.style.height = "auto";
      this.style.height = (this.scrollHeight) + "px";
    }
    
    // Toggle dark mode
    document.getElementById('theme_button').addEventListener('click', toggleDarkMode);
  </script>
  </body>
</html>
