<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "vapid-public-key", content: ENV.fetch('WEBPUSH_PUBLIC_KEY', nil) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<<<<<<< Updated upstream
=======
    <%= favicon_link_tag %>

>>>>>>> Stashed changes
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <script
      src="https://js.sentry-cdn.com/561d51d4da53e5e5ad60cab12cbe3039.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://browser.sentry-cdn.com/9.5.0/bundle.min.js"
      integrity="sha384-5uFF6g91sxV2Go9yGCIngIx1AD3yg6buf0YFt7PSNheVk6CneEMSH6Eap5+e+8gt"
      crossorigin="anonymous"
    ></script>
    <% sentry_id = request.env["sentry.error_event_id"] %>
    <% if sentry_id.present? %>
    <script>
      Sentry.init({ dsn: "https://561d51d4da53e5e5ad60cab12cbe3039@o4508939275010048.ingest.us.sentry.io/4508939284578304" });
      Sentry.showReportDialog({ eventId: "<%= sentry_id %>" });
    </script>
    <% end %>
    <script>
      function checkLocalStorage() {
          var mod = 'test';
          try {
              localStorage.setItem(mod, mod);
              localStorage.removeItem(mod);
              return true;
          } catch(e) {
              return false;
          }
      }

      function checkTheme() {
        const theme = localStorage.getItem('theme');
        if (theme) {
          document.documentElement.className = theme;
        } else {
          if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.className = 'dark-cardinal';
          } else {
            document.documentElement.className = 'light-cardinal';
          }
        }
      }
      checkTheme();
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const newColorScheme = e.matches ? "dark" : "light";
        if (document.documentElement.className.startsWith("dark-") && newColorScheme === "light") {
          document.documentElement.className = document.documentElement.className.replace("dark-", "light-");
        } else if (document.documentElement.className.startsWith("light-") && newColorScheme === "dark") {
          document.documentElement.className = document.documentElement.className.replace("light-", "dark-");
        }
      });

      function changeTheme(theme) {
        document.documentElement.className = theme;
        if (checkLocalStorage()) {
          localStorage.setItem('theme', theme);
        }
      }

      function toggleDarkMode() {
        if (document.documentElement.className.startsWith("dark-")) {
          changeTheme(document.documentElement.className.replace("dark-", "light-"));
        } else if (document.documentElement.className.startsWith("light-")) {
          changeTheme(document.documentElement.className.replace("light-", "dark-"));
        }
      }
    </script>
    <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <%= javascript_include_tag 'ace-colorpicker.min.js' %>
    <script src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/ace-builds@1.39.0/css/ace.min.css" rel="stylesheet">
    <% if user_signed_in? && current_user.theme %>
      <%= turbo_stream_from dom_id(current_user)  + "_theme" %>
      <%= render partial: 'themes/stylesheet' %>
    <% end %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body data-controller="twemoji" id="<%= controller_name %>-page">
    <div id="site">
      <header id="header">
        <a href="/">
          <%= image_tag 'titlebar.png' %>
        </a>
      </header>
      <%= render 'navbar' %>
      <% if notice || alert %>
        <div class="site-alert">
          <% if notice %>
            <div class="notice">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert">
              <%= alert %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div id="site_container">
        <div id="left_sidebar">
          <%= yield :left_sidebar %>
        </div>
        <div id="info_top">
          <%= yield :info_top %>
        </div>
        <div id="info_bottom">
          <%= yield :info_bottom %>
        </div>
        <div id="main">
          <%= yield %>
        </div>
        <div id="right_sidebar">
          <%= yield :right_sidebar %>
        </div>
      </div>
      <%= render 'footer' %>
    </div>
  <script>
    // Textarea auto-grow
    var tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }
    function OnInput() {
      this.style.height = "auto";
      this.style.height = (this.scrollHeight) + "px";
    }
    
    // Toggle dark mode
    document.getElementById('theme_button').addEventListener('click', toggleDarkMode);
  </script>
  </body>
</html>
