<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      function checkLocalStorage() {
          var mod = 'test';
          try {
              localStorage.setItem(mod, mod);
              localStorage.removeItem(mod);
              return true;
          } catch(e) {
              return false;
          }
      }

      function checkTheme() {
        const theme = localStorage.getItem('theme');
        if (theme) {
          document.documentElement.className = theme;
        } else {
          if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.className = 'dark-cardinal';
          } else {
            document.documentElement.className = 'light-cardinal';
          }
        }
      }
      checkTheme();
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const newColorScheme = e.matches ? "dark" : "light";
        if (document.documentElement.className.startsWith("dark-") && newColorScheme === "light") {
          document.documentElement.className = document.documentElement.className.replace("dark-", "light-");
        } else if (document.documentElement.className.startsWith("light-") && newColorScheme === "dark") {
          document.documentElement.className = document.documentElement.className.replace("light-", "dark-");
        }
      });

      function changeTheme(theme) {
        document.documentElement.className = theme;
        if (checkLocalStorage()) {
          localStorage.setItem('theme', theme);
        }
      }

      function toggleDarkMode() {
        if (document.documentElement.className.startsWith("dark-")) {
          changeTheme(document.documentElement.className.replace("dark-", "light-"));
        } else if (document.documentElement.className.startsWith("light-")) {
          changeTheme(document.documentElement.className.replace("light-", "dark-"));
        }
      }
    </script>
  </head>

  <body>
    <div id="site">
      <header id="header">
        <a href="/">
          <%= image_tag 'titlebar.png' %>
        </a>
      </header>
      <%= render 'navbar' %>
      <div class="site-alert">
        <%= notice %>
        <%= alert %>
      </div>
      <div id="site_container">
        <div id="left_sidebar">
          <%= yield :left_sidebar %>
        </div>
        <div id="info_top">
          <%= yield :info_top %>
        </div>
        <div id="info_bottom">
          <%= yield :info_bottom %>
        </div>
        <div id="main">
          <%= yield %>
        </div>
        <div id="right_sidebar">
          <%= yield :right_sidebar %>
        </div>
      </div>
      <%= render 'footer' %>
    </div>
  <script>
    // Textarea auto-grow
    var tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }
    function OnInput() {
      this.style.height = "auto";
      this.style.height = (this.scrollHeight) + "px";
    }
    
    // Toggle dark mode
    document.getElementById('theme_button').addEventListener('click', toggleDarkMode);
  </script>
  </body>
</html>
