<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "default/application", "data-turbo-track": "reload" %>
    <% if cookies['theme'] != nil || cookies['theme'] != "default" %>
      <%= stylesheet_link_tag  cookies['theme'] + "/application", "data-turbo-track": "reload" %>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <header id="header">
        <a href="/">
          <%= image_tag 'titlebar.png' %>
        </a>
      </header>
      <%= render 'navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
