<div class="card primary">
  <h1>Edit <%= resource_name.to_s.humanize %></h2>

  <% if admin? %>
    <%= link_to "Admin Edit", edit_admin_user_path(resource), class: "button" %>
  <% end %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
    <h3>Profile</h3>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field card secondary">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    
    <div class="card secondary">
      <div class="field">
        <%= f.label :email %> <br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <% if resource.confirmed? %>
          <span>Confirmed at <%= resource.confirmed_at %></span>
        <% end %>
      </div>

      <% if devise_mapping.confirmable? && (!resource.confirmed? || resource.pending_reconfirmation?) %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email ? resource.unconfirmed_email : resource.email %></div>
        <%= link_to "Resend", resend_confirmation_path, class: 'button', data: { turbo: true, 'turbo-method' => :post } %>
      <% end %>

      <div class="field">
        <%= f.label :new_password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :time_zone %><br />
        <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone) %>
      </div>

      <div class="field">
        <%= f.label "Announcements trigger Web Push?" %><br />
        <%= f.check_box :push_announcements %>
      </div>
      <% if can? :edit, resource %>
        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <h3>Danger Zone</h3>
  <div class="card secondary">
    <div class="input-group">
      <%= link_to "Log Out", destroy_user_session_path, class: "button", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure?' } %>
      <% if can? :destroy, resource %>
        <%= link_to "Delete Account", registration_path(resource_name), class: "button danger", data: { "turbo-method": :delete, "turbo-confirm": 'Are you sure you want to delete your account?' } %>
      <% end %>
    </div>
  </div>
  <h3>Themes</h3>
  <div class="card secondary">
    <div class="input-group">
      <% if can? :create, Theme %>
        <%= link_to "New", new_theme_path, class: "button" %>
      <% end %>
      <%= link_to "Themes", themes_path, class: "button" %>
    </div>
    
    <h4>Applied</h4>
    <% if current_user.applied_themes.count == 0 %>
      <p>You have no applied themes.</b>
    <% end %>
    <% current_user.applied_themes.each do |theme| %>
      <%= render partial: "/themes/theme", locals: {theme: theme} %>
    <% end %>
  </div>
  <h3>Notifications</h3>
  <div class="card secondary">
    <div data-controller="web-push-subscription" class="web-push-subscription">
      <button disabled class="button" data-web-push-subscription-target="subscribeButton" data-action="web-push-subscription#trySubscribe">Subscribe</button>
      <button disabled class="button" data-web-push-subscription-target="unsubscribeButton" data-action="web-push-subscription#unsubscribe">Unsubscribe</button>
    </div>
    <div class="push_subscriptions">
      <% current_user.push_subscriptions.each do |subscription| %>
        <div id="<%= dom_id subscription %>" class="card secondary">
          Device: <%= sha256(subscription.user_agent).truncate(20, omission: '') %>
          <%= button_to "Destroy", subscription, method: :delete, class: "button", data: {turbo_confirm: "Are you sure?"}%>
        </div>
      <% end %>
    </div>
  </div>
  <h3>Ads</h3>
  <div class="card secondary">
    <%= link_to "Your Ads", ads_path, class: "button" %>
  </div>
  <h3>My Reports</h3>
  <div class="card secondary">
    <%= link_to "My Reports", reports_path, class: "button" %>
  </div>

  <%= link_to "Back", :back, class: "button" %>
</div>